.logotipo{
	position: relative;
	top: -76px;
	left: 390px
}
.logotipo2{
	position: relative;
	top: -110px;
	left: 350px
}
.logotipo3{
	position: relative;
	top: -36px;
	left: 290px
}
.logotipo4{
	position: relative;
	top: -150px;
	left: 490px
}
.logotipo5{
	position: relative;
	top: -147px;
	left: 170px
}